<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
</head>
<body>
    <h1>Выберите раздел</h1>
    {% for title, url in pages.items %}
        <a href="{{ url }}">{{ title }}</a>
        <br>
    {% endfor %}
</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--    <a href="{% url 'time'%}"><button>Время!</button></a>-->
<!--    <a href="{% url 'workdir'%}"><button>Списокфайлов рабочей директории!</button></a>-->
<!--</body>-->
<!--</html>-->